a:hover{
    color: #5A9AE2;
}
nav i{
    font-size: 1.5em
}
i.arrow{
    z-index: 100;
    position: absolute;
    top: 88%;
    left:50%;
    font-size: 5em;
    color: white;
}
header {
    height: 100vh;
}
#about {
    height: 100vh;
    background: #fff;
    color: #000;
}

.carousel-caption h3 {
    margin: 100px 0;
}

#leasing{
    height: 100vh;
    padding-top: 50vh;
    background: #ffffff;
    color: #000;
}
#number{
    background: url(../img/telesiege.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 40vh;
}
#contact{
    background: url(../img/Contact.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 40vh;
}
.reseaux ul{
    list-style: none;
    padding: 0
}
.reseaux,.contact{
    margin-bottom: 5em;
    margin-top: 5em
}
.reseaux a{
    color:white;
}
.reseaux ul li{
    display: inline-block;
}
.reseaux i{
    font-size: 3em
}
.contact i {
    margin-right: 1em;
    color: #5A9AE2;
}
.contact a{
    color:white;
}
.inline{
    display: inline-block;
    font-size: 6em
}
.margin-bottom{
    margin-bottom: 1em
}


@media all and (max-width: 570px) {
    #leasing{
        padding-top: 20vh;
    }
    #number{
        padding-top: 0;
    }
    span.counter {
        margin: 0;
        font-size: 5em;
    }
    #contact, #about {
        padding-top: 0;
    }
    #about h2 {
        margin: 30px 0
    }
    .btn-lg {
        font-size: 30px;
    }
    .row.valide {
        margin: 2em 0;
        padding: 0;
    }
}

@media all and (max-width: 800px) {
    #leasing{
        padding-top: 20vh;
    }
    #number{
        padding-top: 10vh;
    }
    span.counter {
        margin: 0
    }
    #contact, #about {
        padding-top: 6vh;
    }
    #about h2 {
        margin: 50px 0
    }
    .btn-lg {
        font-size: 30px;
    }
}
