.reseaux ul{
    list-style: none;
    padding: 0
}
.reseaux{
    margin-bottom: 5em
}
footer a{
    color:#515251;
}
footer i{
    text-align: center;
}
.contact i {
    margin-right: 1em
}
.inline{
    display: inline-block;
    font-size: 6em
}
.blue{
    color: #5A9AE2;
    font-weight: lighter;;
}
.margin-bottom{
    margin-bottom: 2em
}
